@import '~antd/dist/antd.css';
@import '~react-grid-layout/css/styles.css';
@import '~react-resizable/css/styles.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.remove{
  position: absolute;
  right: 7px;
  top: 1px;
  cursor: pointer;
  z-index: 999;
  display:none;
}
.react-grid-item{
  border: 1px solid #ececec;
  padding: 10px;
}

.react-grid-item:hover .remove{
  display:inline-block;
}

.react-resizable-handle{
  visibility: hidden;
}

.react-grid-item:hover .react-resizable-handle{
  visibility: visible;
}